.news {
    li {
        padding: 5px;
        margin: 2px 0;
        &:nth-child(even) {
            background: #e6e6df;
        }
    }
}

.story {
    &__title {
        padding: 0 10px;
    }

    &__meta {
        color: #828282;
        font-size: 10px;
        b {
            color: #4c535f;
        }
    }

    &__comment-count {
        width: 75px;
        display: inline-block;
        text-align: center;
    }

    &__upvote-count {
        width: 30px;
        display: inline-block;
        text-align: center;
    }

    &__toggle-user {
        color: #000;
        padding: 0 10px;
    }

    &__upvote {
        cursor: pointer;
        width: 10px;
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        background-image: url("data:image/gif;base64,R0lGODlhCgAKALMJANPT06enp/b29r+/v52dnfn5+bq6usLCwpqamv///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAkALAAAAAAKAAoAAAQcMMlJq712GIzQDV1QFV0nUETZTYDaAdIhz3ISAQA7");
    }
}
